/*==========================================================================
* Color & Font CSS
==========================================================================*/
:root {
  --theme-font-1: 'Inter', sans-serif;
  --theme-font-2: 'Plus Jakarta Sans', sans-serif;
  --primary-color-1: #063f66;
  --primary-color-2: #29ffb8;
  --primary-color-3: #038243;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --text-heading-color: #1f242c;
  --body-color: #414141;
  --color-1: #292e36;
  --color-2: #e6e5df;
  --color-3: #f8f8f8;
  --color-4: #b4b4b9;
  --color-5: #1f242c;
  --color-6: #d7e9d2;
  --color-7: #eef7ec;
  --color-8: #f9e9e0;
  --border-color-1: #e9e9ea;
  --border-color-2: 255, 255, 255;
  --border-color-3: 0, 0, 0;
}
